<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ces.cloudnote.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".imageloader.UILApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:theme="@style/WebViewTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ces.cloudnote.app.MainActivity" />
        </activity>
        <activity
            android:name=".ReceiveActivity"
            android:label="@string/title_activity_receive" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contactslist.ContactsListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/activity_contacts_list"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>
        <activity android:name=".contactslist.ContactDetailActivity" />
        <activity
            android:name=".SystemUIHidderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".voiceemail.AddVoicemailActivity"
            android:label="添加声音邮件"
            android:theme="@style/WebViewTheme"/>
        <activity
            android:name=".imageloader.HomeActivity"
            android:label="加载图片"
            android:theme="@style/WebViewTheme">
        </activity>
        <activity
            android:name=".imageloader.ImageListActivity"
            android:label="@string/ac_name_image_list" />
        <activity
            android:name=".imageloader.ImageGridActivity"
            android:label="@string/ac_name_image_grid" />
        <activity
            android:name=".imageloader.ImagePagerActivity"
            android:label="@string/ac_name_image_pager" />
        <activity
            android:name=".imageloader.ImageGalleryActivity"
            android:label="@string/ac_name_image_gallery" />

        <!-- Widget -->
        <receiver android:name=".imageloader.widget.UILWidgetProvider" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".navigation.NavigateActivity"
            android:label="Tab导航菜单" />
        <activity
            android:name=".navigation.CollectionActivity"
            android:label="@string/demo_collection" />
        <activity
            android:name=".photobyintent.PhotoIntentActivity"
            android:label="拍照"
            android:theme="@style/WebViewTheme"/>
        <activity
            android:name=".drawer.DrawerActivity"
            android:label="声音邮件"
            android:theme="@style/WebViewTheme"/>
        <activity
            android:name=".newsreader.NewsReaderActivity"
            android:label="新闻阅读"
            android:theme="@style/WebViewTheme"/>
        <activity
            android:name=".newsreader.ArticleActivity"
            android:label="文章详情"
            android:theme="@style/NewsReaderStyle_NoActionBar" />
        <activity
            android:name=".networkusage.NetworkActivity"
            android:label="网络阅读"
            android:theme="@style/WebViewTheme"/>
        <activity
            android:name=".networkusage.SettingsActivity"
            android:label="设置" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.FragmentMainActivity" />
        <activity
            android:name=".qiyi.QiyiMainActivity"
            android:label="奇艺" />
        <activity
            android:name=".qiyi.account.AccountActivity"
            android:label="帐号" />
        <activity
            android:name=".qiyi.channel.ChannelActivity"
            android:label="渠道" />
        <activity
            android:name=".qiyi.search.SearchActivity"
            android:label="搜索" />
        <activity
            android:name=".qiyi.home.HomeActivity"
            android:label="首页" />
        <activity
            android:name=".qiyi.more.MoreActivity"
            android:label="更多" />
        <activity
            android:name=".bitmapfun.ui.ImageDetailActivity"
            android:label="表格图片"
            android:parentActivityName=".bitmapfun.ui.ImageGridActivity"
            android:theme="@style/AppTheme.FullScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bitmapfun.ui.ImageGridActivity" />
        </activity>
        <activity
            android:name=".bitmapfun.ui.ImageGridActivity"
            android:theme="@style/AppTheme">
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="my_access_key" />

        <activity
            android:name=".baidumap.DemoMainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/sdk_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".baidumap.RouteGuideDemo"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_route_guide_demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.BAIDUNAVISDK_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".baidumap.BNavigatorActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".baidumap.RoutePlanDemo"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_route_plan_demo" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <category android:name="android.intent.category.BAIDUNAVISDK_DEMO" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.navi.location.f"
            android:enabled="true" />

        <activity
            android:name=".WebViewActivity"
            android:label="@string/webView"
            android:theme="@style/WebViewTheme" >
        </activity>
        <activity
            android:name=".DemoLayoutActivity"
            android:label="@string/title_activity_demo_layout"
            android:theme="@style/WebViewTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ces.cloudnote.app.MainActivity" />
        </activity>
    </application>

</manifest>
