<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ces.cloudnote.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".location.LocationApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="af6930421133e44ff41258ad0caf5b86" />

        <!-- 欢迎界面 -->
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <!-- 联系人列表 -->
        <activity
            android:name=".contactslist.ContactsListActivity"
            android:label="@string/activity_contacts_list"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".contactslist.ContactDetailActivity"
            android:label="@string/activity_contact_detail"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".qiyi.QiyiMainActivity"
            android:label="@string/qiyi"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".qiyi.home.HomeActivity"
            android:label="@string/qiyi"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".qiyi.more.MoreActivity"
            android:label="@string/qiyi"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".qiyi.search.SearchActivity"
            android:label="@string/qiyi"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".qiyi.account.AccountActivity"
            android:label="@string/qiyi"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".qiyi.channel.ChannelActivity"
            android:label="@string/qiyi"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ReceiveActivity"
            android:label="@string/title_activity_receive" />

        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MusicServiceActivity"
            android:label="音乐播放服务" />

        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" />

        <activity
            android:name=".ContactsActivity"
            android:label="联系人" />

        <activity
            android:name=".DemoActivity"
            android:label="常用组件Demo" />

        <activity android:name=".CameraActivity"
        android:screenOrientation="landscape"
        android:configChanges="orientation|keyboardHidden|keyboard"/>

        <activity android:name=".photobyintent.PhotoIntentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="拍照"/>

        <activity android:name=".AnimatorActivity"
            android:label="动画"/>

        <receiver android:name="MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="MyBroadcast" >
                </action>
            </intent-filter>
        </receiver>

        <activity android:name=".AsyncTaskActivity"
            android:label="异步任务"/>

        <activity android:name=".Animator2Activity"
            android:label="动画2"/>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tvOqeFDxEGNkjneq2uF68ujg" />

        <activity
            android:name=".BaiduMapActivity"
            android:label="百度地图" >
        </activity>
        <activity android:name=".location.LocationActivity" >
        </activity>
        <activity android:name=".location.GeoFenceActivity" >
        </activity>
        <activity android:name=".location.NotifyActivity"></activity>
        <activity android:name=".location.QuestActivity"></activity>

    </application>

</manifest>
